<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/public/assets/css/login.css">
</head>
<body>
    <div class="container">
        <form class="form-box" id="login-form">
            <header class="form-header">
                <h1>Login</h1>
            </header>
            <main class="form-main">
                <div class="form-input">
                    <input type="email" name="email" placeholder="Digite o Seu E-mail" required>
                </div>
                <div class="form-input">
                    <input type="password" name="password" placeholder="Digite a Sua Senha" required>
                </div>
            </main>
            <footer class="form-footer">
                <div class="form-submit">
                    <button type="submit">
                        Logar
                    </button>
                </div>
            </footer>
        </form>
    </div>
    <script src="/resources/public/assets/js/login.js"></script>
</body>
</html>